<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Facebook Auth</title>
  </head>
  <body>
    <h1>Facebook auth Passport Js</h1>
    <a href="/auth/facebook">Login With Facebook</a>
  </body>
</html>
