<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Github Auth</title>
  </head>
  <body>
    <h1>Github Authentication Passport Js</h1>
    <a href="/auth/github">Login With Github</a>
  </body>
</html>
